body{
	background-color: #99BBDD;
	
}


td{
	background-color:#99DDDD;
	border:2px solid black;
	border-radius :5px;
	padding:15px;	
}

h1{
	text-align: center;
}

h2{
	text-align: center;
	color:#4A4943;
}